.resources__img{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    height: 100%;
    transition: opacity 0.4s linear;
    opacity: 1;
  }
.resources__img:hover{
    opacity: 0.4;
}